body{
}
#soto{
	width:250px;
	height:500px;
	border:solid 2px #000000;
	float:right;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#flatlist1{
	background-color:rgba(128,128,128,0.5);
	position:relative;
	/*display:table;*/
	display:flex;
	list-style-type:none;
	border-collapse: separate;
	top:0px;
	margin:0px;
	padding:0px;
}
#flatlist2{
	background-color:rgba(128,128,128,0.5);
	position:relative;
	display:table;
	list-style-type:none;
	border-collapse: separate;
	top:0px;
	margin:0px;
	padding:0px;
}

#flatpanel{
	position:absolute;
	display:table-cell;
	right:20px;
	top:20px;
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.3);
	z-index:150;
}

.flatrow{
	display:flex;
}
#flatrow0{
	background:#ffc457;
}
#flatrow1{
	top:0px;
}
#flatrow2{
	top:70px;
}

#flatrow3{
	top:140px;
}

.flatcell{
	position:relative;
	/*display:table-cell;*/
	width:70px;
	height:70px;
}

.flatcontent{
	position:absolute;
	/*top:70px;*/
	top:0px;
	width:70px;
	height:70px;
}

.flatbutton{
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height:70px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}


/*
#flatlist{
	padding:0px;
	margin:0px;
}
#flatlist li{
	float:left;
	margin:2px;
	width:70px;
	height:70px;
	list-style-type:none;
}
*/

#flat1{
	background-color:rgba(53,255,224,1);
	background-image:url('../images/color.png');
}
#content1{
	background-color:rgba(42, 183, 161, 1);
	width:70px;
	overflow:hidden;
	}
#flat2{
	background-color:rgba(0, 139, 255, 1);
	background-image:url('../images/flateraseroff.png');
}
#content2{
	background-color:rgba(0, 98, 180, 1);
	width:70px;
	overflow:hidden;
}
#flat3{
	background-color:rgba(0, 255, 102, 1);
	background-image:url('../images/flatalpha.png');
}
#content3{
	background-color:rgba(0, 192, 77, 1);
	width:70px;
	overflow:hidden;
}
#flat4{
	background-color:rgba(208, 255, 0, 1);
	background-image:url('../images/flatsize.png');
}
#content4{
	background-color:rgba(174, 213, 0, 1);;
	width:70px;
	overflow:hidden;
}
#flat5{
	background-color:rgba(255, 252, 53, 1);
	background-image:url('../images/text.png');

}
#content5{
	background-color:rgba(236, 232, 0, 1);
	width:70px;
	overflow:hidden;
}
#flat6{
	background-color:rgba(255, 210, 53, 1);
	background-image:url('../images/animation.png');
}
#content6{
	background-color:rgba(246, 195, 19, 1);
	width:70px;
	overflow:hidden;
	overflow-y:scroll;
}
#flat7{
	background-color:rgba(255, 99, 53, 1);
	background-image:url('../images/flatbrushoff.png');
}
#content7{
	background-color:rgba(244, 84, 36, 1);
	width:70px;
	overflow:hidden;
}
#flat8{
	background-color:rgba(255, 39, 39, 1);
	background-image:url('../images/view.png');
}
#content8{
	background-color:rgba(241, 27, 27, 1);
	width:70px;
	overflow:hidden;
}
#flat9{
	background-color:rgba(255, 99, 53, 1);
	background-image:url('../images/layer1.png');
}
#content9{
	background-color:rgba(244, 84, 36, 1);
	width:70px;
	overflow:hidden;
}
#flat10{
	background-color:rgba(255, 39, 39, 1);
	background-image:url('../images/map.png');
}
#content10{
	background-color:rgba(241, 27, 27, 1);
	width:70px;
	overflow:hidden;
}
#e_onbutton{
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	font-family:'title';
	background-color:transparent;
	position:absolute;
}
#e_offbutton{
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	font-family:'title';
	background-color:transparent;
	position:absolute;
	top:70px;
}
#air_onbutton{
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	font-family:'title';
	background-color:transparent;
	position:absolute;
}
#air_offbutton{
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	font-family:'title';
	background-color:transparent;
	position:absolute;
	top:70px;
}
#flateraser{
	background-color:#88FFED;
	width:70px;
	height:70px;
	position:absolute;
	top:70px;
	}
#flatairbrush{
	/*background-color:#385A0E;*/
	background-color:rgba(183, 255, 105,1);
	width:70px;
	height:70px;
	position:absolute;
	top:70px;
}
/*??*/
/* range */


#tool_slider {
	/*left:100%;/*追記した分*/
	width: 120px;
	height: 20px;
	position: relative;
	background: #10171D;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}



#tool_slider .tool_bar {
	width: 110px;
	height: 10px;
	background: #333;
	/*position: relative*/;
	margin: 5px 5px 0;	
	
	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#sliderlabel{
	height: 15px;
	top:95px;
	position:absolute;
}

#tool_slider span {
	color: #fff;
	position: relative;
	top: -20px;
	left: 20px;	
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #tool_rangevalue,input[type="range"]:active ~ #tool_rangevalue,
input[type="range"]:hover ~ #tool_alpha_value,input[type="range"]:active ~ #tool_alpha_value,
input[type="range"]:hover ~ #tool_blur_value,input[type="range"]:active ~ #tool_blur_value {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -60px;
}

/* Tool Tip */
#tool_rangevalue, #tool_alpha_value, #tool_blur_value {
	color: white;
	font-size: 10px;
	text-align: center;
	font-family:  Arial, sans-serif;
	display: block;
	color: #fff;
	margin: 20px 0;
	position: relative;
	left: 60%;
	padding: 4px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -85px;
}


