header {
	height: 50px;
	/*background-color: #FC6;*/
	//background:-webkit-gradient(linear, center top, center bottom, from(#fff32b), to(#ff9314));
	background:#ffc457;
	position: relative;
	display: none;
}
header img {
	float: left;
}
header h1 {
	float: left;
	font-size: 20px;
	width: 300px;
	color: #fff;
	margin: 0;
}
header ul {
	position: relative;
	display:table;
	width: 235px;	
	margin: 0 0 0 auto;
	z-index: 10000;
	font-weight: bold;
	color:white;
	text-align:center;
	table-layout: fixed;
}


.select1{
	background-color:#2e8b57!important;
}
.select2{
	background-color:#ff8c00!important;
}
.select3{
	background-color:#ff6374!important;
}
.select4{
	background-color:#4682b4!important;
}

header h1{
	font-family:'title';
	font-size:24px;
}

/*
.header_lock {
	background: url(../images/lock.png);
}
.header_kick {
	background: url(../images/kick.png);
}
.header_share {
	background: url(../images/share.png);
}
*/
.header_logout {
	background: url(../images/logout.png);
}
@font-face {
  font-family: 'title';
  src: url('/images/Chunkfive.otf');
}
