@charset "utf-8";

::-webkit-scrollbar{
	-webkit-box-shadow: inset 0 0 6px rgba(60,60,60,0.8);
    width: 12px;
	height:12px;
	background:#CCC;
}

::-webkit-scrollbar-corner {/*右下の同時に動かす奴*/
	background:#999;
}  
::-webkit-scrollbar-thumb {/*中で動く棒*/
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
/*アニメーションさせたかったけどうまくいかず
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	*/
}
::-webkit-scrollbar-thumb:hover {/*中で動く棒*/
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
	background:#FFF;
}
::-webkit-scrollbar-track /*棒が動く範囲*/{
    border-radius: 10px;
}

#list_clear{
	float:right;
}

#tool_clear{
	width:100%;
}

#list_airbrush{
	float:left;
}

#text_msg_list{
	height:120px;
}
.text_msg{
	margin:4px;
	padding:5px;
	-webkit-border-radius: 15px;  
	-moz-border-radius: 15px;  
	/*background:#7FFFD4;*/
	background:
		-webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.1,#CCFFFF), color-stop(0.3,#99FFFF),color-stop(0.9,#99FFFF), to(#98B7F0));
	box-shadow:0px 2px 5px 0px #4682B4;
	/*
	 * 1:水平方向の影の距離
	 * 2:垂直方向の影の距離
	 * 3:ぼかし距離
	 * 4:ひろがり距離
	 * */
}
#chat {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 180px;
	margin: 0 250px 0px 200px;
	/*width:-webkit-calc(100% - 250px) ;*/
	/*background: #FFFDD0;*/
	background-image: url("../images/chatback.png");
}

#canvas_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0 250px 180px 200px;
	padding: 0;
	overflow: scroll;
	background: #CCC;
	outline:none;
}

video{
	height: 100%;
	width:100%;
	border:1px solid black;
}

p{
	margin: 0;
}
html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	overflow:hidden;
}

article {
	clear: both;
	position: relative;
	height:-webkit-calc(100% - 50px) ;
}


#video_info {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 200px;
	height: 100%;
	background: #555;
	margin: 0;
	float: left;
}

#text_roomArea {
	margin: 10px 30px 0 30px;
	padding: 0 10px 0 10px;
	background: rgba(0,0,0,0);
}



#canvas_margin {
	width: 2500px;
	height: 2500px;	
}

#buttonblock{
	width:100px;
	height:100px;
}

#canvas_myCanvas1 {
	position: absolute;
	margin: -50px -200px 0 -200px;
	background: white;
	vertical-align: bottom;
	width: 2000px;
	height: 2000px;
	-webkit-transform: translate(450px,300px)
}

#canvas_myCanvas2 {
	position: absolute;
	margin: -50px -200px 0 -200px;
	/*background: white;*/
	vertical-align: bottom;
	width: 2000px;
	height: 2000px;
	-webkit-transform: translate(450px,300px);
	z-index: 97;
}
#canvas_toolcanvas{
	position: absolute;
	margin: -50px -200px 0 -200px;
	opacity:0.333;
	vertical-align: bottom;
	width: 2000px;
	height: 2000px;
	-webkit-transform: translate(450px,300px);
	z-index: 98;
}

#colorWheelContainer{
	width:230px;
	position: relative;
}

/* range */


#tool_slider {
	width: 160px;
	height: 20px;
	position: relative;
	top: -26px;
	left: 32px;

	background: #10171D;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}


#tool_slider .tool_bar {
	width: 150px;
	height: 10px;
	background: #333;
	/*position: relative*/;
	margin: 5px 5px 0;	
	
	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#sliderlabel{
	height: 30px;
}

#tool_slider span {
	color: #fff;
	position: relative;
	top: -20px;
	left: 20px;	
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #tool_rangevalue,input[type="range"]:active ~ #tool_rangevalue,
input[type="range"]:hover ~ #tool_alpha_value,input[type="range"]:active ~ #tool_alpha_value,
input[type="range"]:hover ~ #tool_blur_value,input[type="range"]:active ~ #tool_blur_value {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -60px;
}

/* Tool Tip */
#tool_rangevalue, #tool_alpha_value, #tool_blur_value {
	color: white;
	font-size: 10px;
	text-align: center;
	font-family:  Arial, sans-serif;
	display: block;
	color: #fff;
	margin: 20px 0;
	position: relative;
	left: 60%;
	padding: 4px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -85px;
}


/*  canvas_view  */
#canvas_view {
	width: 180px;
	height: 180px;
	margin:6px 6px 0 6px;
	border-top: solid 4px #960;
	border-left: solid 4px #960;
	border-right: solid 4px #630;
	border-bottom: solid 4px #630;
	background: #fff;
}


#zoomInfo{
	position: absolute;
	display: none;
	top:3px;
	right:220px;
	height:20px;
	width: 50px;
	padding: 10px;
	-webkit-border-radius: 5px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #FFF;
	font-size: 16px;
	z-index: 1000;
}

#layers{
	width:80%;
}

.layerbutton{
	cursor:default;
	overflow:hidden;
	background:#999;
	border: 2px ridge #BBB;
	-webkit-border-radius: 8px;
	font-family:'title';
	color:#555;
	white-space: nowrap;
}

.layerbutton.selected{
	background:
		-webkit-gradient(linear, left top, left bottom, from(#FFF), 
		color-stop(0.1,#AAA), color-stop(0.8,#DDD), to(#999));
	color:#000;
}

.layervisible{
	cursor:default;
	overflow:hidden;
	background:#999;
	border: 2px ridge #BBB;
	float:left;
	-webkit-border-radius: 8px;
	font-family:'title';
	color:#AAA;
}
.layervisible.visible{
	background:
		-webkit-gradient(linear, left top, left bottom, from(#FFF), 
		color-stop(0.1,#AAA), color-stop(0.8,#DDD), to(#999));
	color:#000;
}

@font-face {
  font-family: 'title';
  src: url('/images/Chunkfive.otf');
}

#button_horizontal{
	width:230px;
}
/*
#button_horizontal_inner{
	float:left;
}
*/

#brushcatcher{
	/*background:rgb(0,0,250);*/
	opacity:0;
	position:absolute;
	top: 0px;
	vertical-align: bottom;
	width: 101%;
	height: 101%; /*なぜか上下左右に1pxずれるので大きめにとった*/
	/*-webkit-transform: translate(1000px,1000px);*/
	z-index: 98;
}

#frame_list{
	width:200px;
}

.basebutton{
	text-align:center;
	margin:2px;
	cursor:default;
	border: 2px ridge #bbb;
	-webkit-border-radius: 8px;
	color:#000;
	font-family:'title';
	white-space: nowrap;
	font-size:16px;
	/*display:inline-block;中の文字ピッタリに。考え中*/
	background:
		-webkit-gradient(linear, left top, left bottom, from(#FFF), 
		color-stop(0.1,#AAA), color-stop(0.8,#DDD), to(#999));
}

#plusbutton{
	width:20px;
	float:left;
}
#minusbutton{
	width:20px;
}
#samebutton{
	width:50%;
}
