#socketbox{
	/*height:-webkit-calc(100% - 15px);*/
	height:auto;
}

#videoBlock{
	height:-webkit-calc(100% - 140px);
}

.webvideo{
	background-color:#63A8FF;
}

#startVideo{
	background-color:#FF7F7F;
	background-image:url("../images/startvideo.png");.
}
#stopVideo{
	background-color:#B87FFF;
	background-image:url("../images/stopvideo.png");.
}
#Connect{
	background-color:#98FF82;
	background-image:url("../images/connect.png");.
}
#startCapture{
	background-color:#7FD8FF;
	background-image:url("../images/startcapture.png");.
}
#videoscaleup{
	background-color:#FCFF7F;
	background-image:url("../images/videoscaleup.png");.
}
#videoscaledown{
	background-color:#FFB021;
	background-image:url("../images/videoscaledown.png");.
}

video{
	height:75px;
	width:100px;
}
