header {
	height: 50px;
	background-color: #FC6;
	position: relative;
	display: none;
}
header img {
	float:left;
}
header h1 {
	float: left;
	color: #fff;
	margin: 0;
	line-height:50px;
}
header ul {
	position: relative;
	margin: 0 0 0 auto;
	z-index: 10000;
	font-weight: bold;
	color:white;
	text-align:center;
}

header li {
	list-style: none;
	height: 50px;
	display:table-cell;
	/*-webkit-border-top-left-radius: 20px;  
	-webkit-border-top-right-radius: 20px; 
	-moz-border-radius-topleft: 20px;  
	-moz-border-radius-topright: 20px; */
	-webkit-border-radius: 20px;  
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px;  
	-moz-border-radius: 20px; 
	background:#999;
	vertical-align:middle;
}

ul #tablabel1{
	background-color:#2e8b57;
	-webkit-box-shadow: 0 0px 3px 2px #66FCA8 inset;
	cursor:default;
}

ul #tablabel2{
	background-color:#ff8c00;
	-webkit-box-shadow: 0 0px 3px 2px #FFE0A8 inset;
	cursor:default;
}
ul #tablabel3{
	background-color:#ff6374;
	-webkit-box-shadow: 0 0px 3px 2px #FFD2D7 inset;
	cursor:default;
}
ul #tablabel4{
	background-color:#4682b4;
	-webkit-box-shadow: 0 0px 3px 2px #AEDAFF inset;
	cursor:default;
}

.select1{
	background-color:#2e8b57!important;
}
.select2{
	background-color:#ff8c00!important;
}
.select3{
	background-color:#ff6374!important;
}
.select4{
	background-color:#4682b4!important;
}

header h1{
	font-family:'title';
	font-size:18px;
}

.header_logout {
	background: url(../images/logout.png);
}
@font-face {
  font-family: 'title';
  src: url('/images/Chunkfive.otf');
}

#tablist{
	line-height:50px;
	right:10px;
	padding:0px;
	margin:0px;
}

#panelR{
	background:#FFF;
}
#panelL{
	background:#FFF;
}
