#tool_info {
	position: absolute;
	top:0;
	bottom:0;
	margin-top:20px;
	margin-bottom:25px;
	margin-right:20px;
	width: 220px;
	height:auto;
	background: rgba(255,255,255,0.3);
	float: right;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
	z-index:150;
}

#tabs{
	height:100%;
}


#tab1{

	/*background-color:#2e8b57!important;*/
	background:rgba(46,139,87,0.3) !important;

	height:100%;
	overflow-y:auto;
}
#tab2{
/*	background-color:#ff8c00!important;*/
	background:rgba(255,140,0,0.3) !important;
	height:100%;
	color:white;
	opacity:0;
	display:none;
	overflow:auto;
	font-family:'title';
	font-size:60%;
}
#tab3{
	background:rgba(255,99,116,0.3) !important;
	height:100%;
	color:white;
	opacity:0;
	display:none;
}
#tab4{
	background:rgba(70,130,180,0.3) !important;
	height:100%;
	color:white;
	opacity:0;
	display:none;
}
@font-face {
  font-family: 'title';
  src: url('/images/Chunkfive.otf');
}
